/*Important link for Roboto font from google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Font mukta important link from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: whitesmoke;
    overflow-x: hidden; /* hides the bottom of the screen and background*/
}

/*NAVBAR*/

li{
    display: inline;
    padding: 5px;
}

a{
    font-family: "Roboto", sans-serif; /*Font from google fonts*/
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none;/*Removes all default link styling*/
}

a:hover{
    color: #d7eaf7; /* Changes color whenever a user hovers over text*/
}

.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px; 
    /*The following minus margins stretch the navbar background 
    beyond the webpage screen edge*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;/*Creates a sticky element that stays in the same part of the screen*/
    top: 0;/*Tells browser to keep the selected itme to stay on top of the webpage despite scrolling*/
    z-index: 9; /*Sets stack layer area to scroll over all elements*/
}

/*Creates a line under the home and contact links to seperate from images*/
#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

/*Headers*/
h1, h2, h3{
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta Malar", sans-serif; /*Font from google fonts*/
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px; 
}

h1{
    font-size: 60px;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3{
    text-shadow: none;
}

/*Creates a text color change animatiopn for headers*/
@keyframes color-text{
    0%{color: #b5e1ff;}
    100%{color: #0a3f63;}
}

/*Calls animatioon by its name so it can be applied to a specific html element*/
.animate-text{
    animation: color-text 4s;
}

/*Body Contewnt*/

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 19);
}

.column{
    float: left;
    width: 48%;/*places images side by side with the float tag used*/
    padding: 10px;
}

/*groups elemnts inside div together to force floating elements into this selector*/
.container{
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px; 
}

/*PArt of the .container class to format elements to display in table*/
.container::after{
    content: "";
    clear: both;
    display: table;
}

/*Sets up the size of each div so it can cetner the image*/
.image-container{
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

/*Sets background color with each div with an image using the Id names*/
#cat{
    background-color: #d7eaf7;
}

#dog{
    background-color: #c3e0c5;
}

#rabbit{
    background-color: #c3e0c5;
}

#hamster{
    background-color: #d7eaf7;
}

#fish{
    background-color: #d7eaf7;
}

#reptile{
    background-color: #c3e0c5;
}

/*Sets up properties for overlay images*/
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
}

.overlay:hover{
    opacity: 0.6;
}

/*Targets video on the page*/
iframe{
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

/*Styles the video div*/
#video{
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;
}

footer{
    background-color: #216391;
    margin-top: 50px;
    /*Negative margins stretch the footer background beyoned web browser screen*/
    margin-right: -10px;
    margin-left: -10px;
    bottom: 0;
}

/*Styles table for footer*/
table{
    width: 100%;
}

td{
    text-align: center;
    width: 33%; /*Divide the 3 columns equally so they appear all equal*/
}

td p{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

/*form css*/
form{
    padding: 15px;
    display: table;
    margin: auto;
}

input{
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    transition:  0.3s ease-out;
}

/*The focus psuedo classs is triggered when a user clicks on an element*/
input:focus{
    box-sizing: border-box;
    border: 2px solid #0a3f63;
    color: #000000;
    transition: 0.3s ease-in;
    outline: none;
}

/*Styles the lable tog on contact form*/
label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px;
}

/*Type selector for the textarea element for user to type message*/
textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

/*Applies different style to the text area when users trigger the focus psueod class*/
textarea:focus{
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    transition: 0.3s ease-in;
    outline: none;
}

input[type="submit"]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}
input[type="submit"]:hover{
    background-color: #052133;
}